@model DichVuGame.Models.ViewModels.SuperCartViewModel
@{
    ViewData["Title"] = "Index";
}

<form asp-area="Customer" asp-controller="Cart" asp-action="Checkout" method="post">
    @if (Model.CartVM1.Count > 0 || Model.CartVM2.Count > 0)
    {

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th class="text-center">Giá</th>
                                <th class="text-center">Tổng</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var subtotal = 0.0;
                                @if (Model.CartVM1.Count > 0)
                                {
                                    <tr>
                                        <td>  Mua game  <span> Áp dụng MGG: <input type="checkbox" class="chk" asp-for="@Model.GameDiscount"/></span>  </td>
                                        <td></td>
                                        <td>   </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                    @foreach (var product in Model.CartVM1)
                                    { 
                                        <tr>
                                            <td class="col-sm-8 col-md-6">
                                                <div class="media">
                                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@product.Game.GamePoster" style="width: 80px; height: 80px;"> </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@product.Game.ID"> @product.Game.Gamename</a></h4>
                                                        <h5 class="media-heading"> by<a asp-area="Customer" asp-controller="Home"> @product.Studio.Studioname</a></h5>
                                                        <span>Tình trạng: </span><span class="text-success"><strong>Còn hàng</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                                <p>@product.Amount</p>
                                            </td>
                                            <td class="col-sm-1 col-md-1 text-center"><strong>@product.Game.Price</strong></td>
                                            @{ var total = product.Game.Price * product.Amount;
                                                subtotal += total;}
                                            <td class="col-sm-1 col-md-1 text-center"><strong>@total </strong></td>
                                            <td class="col-sm-1 col-md-1">
                                                <a asp-area="Customer" asp-controller="Cart" asp-action="RemoveFromCartInCart" asp-route-id="@product.Game.ID" asp-route-type="Code" class="btn btn-danger">
                                                    <span class="glyphicon glyphicon-remove"></span> Xóa
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                @if (Model.CartVM2.Count > 0)
                                {
                                    <tr>
                                        <td>  Thuê tài khoản game <span> Áp dụng MGG: <input type="checkbox" class="chk" asp-for="@Model.AccountDiscount" /></span></td>
                                        <td>   </td>
                                        <td>   </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    @foreach (var product in Model.CartVM2)
                                    {
                                        <tr>
                                            <td class="col-sm-8 col-md-6">
                                                <div class="media">
                                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="@product.Game.GamePoster" style="width: 80px; height: 80px;"> </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@product.Game.ID"> @product.Game.Gamename</a></h4>
                                                        <h5 class="media-heading"> by<a asp-area="Customer" asp-controller="HOme"> @product.Studio.Studioname</a></h5>
                                                        <span>Tình trạng: </span><span class="text-success"><strong>Còn hàng</strong></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                                <p>@product.Amount</p>
                                            </td>
                                            <td class="col-sm-1 col-md-1 text-center"><strong>@product.Game.Price</strong></td>
                                            @{ var total = product.Game.Price * product.Amount;
                                                subtotal += total;}
                                            <td class="col-sm-1 col-md-1 text-center"><strong>@total </strong></td>
                                            <td class="col-sm-1 col-md-1">
                                                <a asp-controller="Cart" asp-action="RemoveFromCartInCart" asp-route-id="@product.Game.ID" asp-route-type="Account" class="btn btn-danger">
                                                    <span class="glyphicon glyphicon-remove"></span> Xóa
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                                    <td>  </td>
                                    <td>  </td>
                                    <td>  </td>
                                    <td><h5>Tạm tính</h5></td>
                                    <td class="text-right"><h5><strong>@subtotal</strong></h5></td>
                                </tr>
                                <tr>
                                    <td>  </td>
                                    <td>  </td>
                                    <td>  </td>
                                    <td><h5>Discount</h5></td>
                                    <td class="text-right"><input name="Discount" /></td>
                                </tr>
                                <tr>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>   </td>
                                    <td>
                                        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">
                                            <span class="glyphicon glyphicon-shopping-cart"></span> Hủy
                                        </a>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-success">
                                            Checkout<span class="glyphicon glyphicon-play"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="container border border-light" style="height: 400px;background-color:white">
            <br />
            <br />
            <br />
            <img class="col-sm-5 offset-sm-4" src="https://divineshop.vn/assets/image/empty-cart.png" />
            <div class="col-sm-5 offset-sm-5">Oop! Giỏ hàng của bạn đang trống</div>
            <div class="col-sm-6 offset-sm-5">
                <a asp-action="Index" asp-controller="Home" class="nav-link btn" style="background-color:#fdd835;border-radius:5px;text-align:center;width: 225px">Mua ngay</a>
            </div>
        </div>
    }
</form>



