@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using DichVuGame.Extensions
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DichVuGame</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="\menu_lt\css\style-starter.css">
    <!-- Template CSS -->
    <link href="//fonts.googleapis.com/css?family=Muli:300,300i,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900&display=swap" rel="stylesheet">
</head>
<body>
    <!--/top-header-content-->
    <section class="w3l-top-header-content">
        <div class="hny-top-menu">
            <div class="top-hd">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="social-top col-md-7">

                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="log-link mr-3"><a class="sign-in" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-user"></span> Đăng xuất</a></li>

                            }
                            else
                            {
                                <li class="log-link mr-3"><a class="sign-in" asp-area="Identity" asp-page="/Account/Login"><span class="fa fa-user"></span> Đăng nhập</a></li>
                            }

                            <li><a href="facebook.com"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="instagram.com"><span class="fa fa-instagram"></span></a> </li>
                            <li><a href=""><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-vimeo"></span></a> </li>
                            @*<li>
                                    <a href="#">
                                        <span class="fa fa-linkedin"></span>
                                    </a>
                                </li>*@
                        </ul>
                        <ul class="accounts col-md-5">

                            @if (SignInManager.IsSignedIn(User))
                            {

                                <li class="top_li mr-lg-0">
                                    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@await Component.InvokeAsync("Username")</a>
                                </li>

                                <li class="top_li">
                                    <a>
                                        @await Component.InvokeAsync("Balance")
                                    </a>

                                </li>
                                <li class="top_li">
                                    <a class="nav-link text-white" asp-area="Customer" asp-controller="Home" asp-action="History">Lịch sử</a>
                                </li>

                            }
                            @{
                                int count = 0;
                                var shoppingCart = HttpContextAccessor.HttpContext.Session.Get<List<DichVuGame.Models.ViewModels.CartViewModel>>("ShoppingCartSession");
                                if (shoppingCart != null)
                                {
                                    count = HttpContextAccessor.HttpContext.Session.Get<List<DichVuGame.Models.ViewModels.CartViewModel>>("ShoppingCartSession").Count;
                                    <li><a asp-area="Customer" asp-controller="Cart" asp-action="Index"><span class="fas fa-shopping-cart" style="margin-right:1px;"></span> Giỏ hàng(@count)</a></li>
                                }

                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!--//top-header-content-->

    <section class="w3l-banner-slider-main">

        <div class="bannerhny-content">
            <header class="top-headerhny">
                <!--/nav-->
                <nav class="navbar navbar-expand-lg navbar-light fill">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
                            <label class="lohny"><span class="fa fa-gamepad" aria-hidden="true"></span>HCMUTE</label>Game
                        </a>
                        <!-- if logo is image enable this
                        <a class="navbar-brand" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-lg-auto ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Tìm shop</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="SpinWheel">Vòng xoay may mắn</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link" href="#">Liên lạc</a>
                                </li>
                            </ul>

                        </div>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "d-flex searchhny-form"  }))
                        {
                            @Html.Editor("q", new { htmlAttributes = new { @class = "form-control", autocomplete = "off", placeholder = "Từ khóa", style = "border-radius=10px;font-size:14px;", required = "required" } })
                            <button type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
                        }
                    </div>
                </nav>
                <!--//nav-->
            </header>

            <!--/banner-slider-->
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="carousel-caption">

                                <h3>Mang cả thế giới game đến với bạn</h3>
                                <p>Đầy đủ những tựa game đỉnh đám, hỗ trợ 24/7</p>
                                <div class="button-4 mx-auto">
                                    <div class="eff-4"></div>
                                    <a href="#maincontent"> Trải nghiệm ngay</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item item2">
                        <div class="container">
                            <div class="carousel-caption">
                                <h3>
                                    Những bom tấn đến từ E3
                                </h3>
                                <p>Chúng tôi tin nó dành cho bạn</p>
                                <div class="button-4 mx-auto">
                                    <div class="eff-4"></div>
                                    <a href="#maincontent"> Trải nghiệm ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item item3">
                        <div class="container">
                            <div class="carousel-caption">

                                <h3>Mang cả thế giới game đến với bạn</h3>
                                <p>Đầy đủ những tựa game đỉnh đám, hỗ trợ 24/7</p>
                                <div class="button-4 mx-auto">
                                    <div class="eff-4"></div>
                                    <a href="#maincontent"> Trải nghiệm ngay</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="carousel-item item4">
                        <div class="container">
                            <div class="carousel-caption">
                                <h3>
                                    Những bom tấn đến từ E3
                                </h3>
                                <p>Chúng tôi tin nó dành cho bạn</p>
                                <div class="button-4 mx-auto">
                                    <div class="eff-4"></div>
                                    <a href="#maincontent"> Trải nghiệm ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <!--//banner-slider-->

    </section>

    <div class="container" id="maincontent">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top para-content-footer text-muted">
        <div class="container">
            &copy; 2020 - DichVuGame - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/70d04a055c.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('input.chk').on('change', function () {
                $('input.chk').not(this).prop('checked', false);
            });
        })
    </script>
</body>
</html>
