@model IEnumerable<DichVuGame.Models.Country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminHome/_CMSLayout.cshtml";
}

<h1>Index</h1>

<div class="row">
    <div class="col-6">Danh sách quốc gia</div>
    <div class="col-6 text-right"><a class="btn btn-primary" asp-area="Admin" asp-controller="Countries" asp-action="Create">Thêm game mới</a></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Countryname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Countryname)
            </td>
            <td>
                <div class="btn-group">
                    <a type="button" class="btn btn-success" asp-action="Edit" asp-controller="Countries" asp-route-id="@item.ID"><i class="fas fa-edit"></i></a>
                    <a type="button" class="btn btn-info" asp-action="Details" asp-controller="Countries" asp-route-id="@item.ID"><i class="far fa-list-alt"></i></a>
                    <a type="button" class="btn btn-danger" asp-action="Delete" asp-controller="Countries" asp-route-id="@item.ID"><i class="fas fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
