@model DichVuGame.Models.ViewModels.GamesViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Gamename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Gamename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.GamePoster)
        </dt>
        <dd>
            <img src="@Model.Game.GamePoster" width="150" height="150"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Release)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Release)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Studio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Studio.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Available)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.Available)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Game.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
